<div class="row">
	<div class="col-xs-12">
		<div class="col-xs-6 col-xs-offset-3 col-md-4 col-md-offset-4">
			<div class="panel panel-login">
				<div class="panel-heading">
					<h4 class="text-center">Sign In in JIRA</h4>
				</div>
				<div class="panel-body">
					<form role="form">
						<fieldset>
							<div class="form-group">
								<input class="form-control" placeholder="User" type="text" ng-model="user">
							</div>
							<div class="form-group">
								<input class="form-control" placeholder="Password" type="password" ng-model="pass">
							</div>
							<div class="form-group">
								<div class="checkbox">
									<label><input type="checkbox" ng-model="savedata"> Remember Me</label>
								</div>
							</div>
							<button type="button" class="btn btn-success btn-block" ng-click="login()">Sign In</button>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>