<ol class="breadcrumb">
	<li>JIRA</li>
	<li class="active">Configuraci&oacute;n</li>
</ol>

<!-- Nav tabs -->
<ul class="nav nav-tabs nav-justified" role="tablist">
	<li role="presentation" class="active"><a href="#general" aria-controls="general" role="tab" data-toggle="tab">GENERAL</a></li>
	<li role="presentation"><a href="#notificaciones" aria-controls="notificaciones" role="tab" data-toggle="tab">NOTIFICACIONES</a></li>
</ul>

<br />

<!-- Tab panes -->
<div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="general">
		
		<div class="row" style="margin: 10px">
			<h3>Configuración de la aplicación</h3>
		</div>
		<div class="row" style="margin: 10px">
			<div class="col-xs-12">
				<div class="col-xs-12 col-sm-4"><label>ULR base de la aplicación</label></div>
				<div class="col-xs-12 col-sm-8">
					<div class="input-group">
						<input type="text" class="form-control" ng-model="server">
						<span class="input-group-addon">http://example.com</span>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row" style="margin: 10px">
			<h3>Servicios JIRA</h3>
		</div>
		<div class="row" style="margin: 10px">
			<div class="col-xs-12">
				<div class="col-xs-12 col-sm-4"><label>Periodo de tiempo a mostrar</label></div>
				<div class="col-xs-12 col-sm-8">
					<select class="form-control" ng-options="i.value as i.text for i in range" ng-model="time"></select>
				</div>
			</div>
		</div>
		
		<div class="row" style="margin: 10px">
			<h3>Servicios TEMPO</h3>
		</div>
		<div class="row" style="margin: 10px">
			<div class="col-xs-12">
				<div class="col-xs-12 col-sm-4"><label>Numero de periodos a mostrar</label></div>
				<div class="col-xs-12 col-sm-4">
					<input type="number" class="form-control" ng-model="periods">
				</div>
			</div>
		</div>
		
		<br />
		
	</div>
	
    <div role="tabpanel" class="tab-pane fade" id="notificaciones">
	
		<div class="row" style="margin: 10px">
			<h3>Configuración de notificaciones</h3>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<table class="table table-hover borderless">
					<tr>
						<td>
							<input id="checkbox1" type="checkbox" ng-model="notifications.SesionExpirada">
						</td>
						<td><b>Sesión expirada</b></td>
						<td>Se notifica al usuario que su sesión ha caducado y se le redirecciona a la página de login.</td>
					</tr>
					<tr>
						<td>
							<input id="checkbox2" type="checkbox" ng-model="notifications.PeriodosAprobacion">
						</td>
						<td><b>Periodos de aprobación</b></td>
						<td>Se notifica al usuario si existe algún periodo de aprobación pendientes de enviar. Solo se notificará si se configuran más de un periodo a mostrar.</td>
					</tr>
				</table>
			</div>
		</div>
		
	</div>
	
</div>

		

<div class="row">
	<div class="col-xs-12 text-center">
		<button type="button" class="btn btn-success" ng-click="save()">Guardar</button>
	</div>
</div>